.inner-section {
	background: #fff;
	color: #202123;
	padding: 95px 0 81px;
}

.inner-section--bg--grey {
	background: #f4f5f5;
}

.inner-section--reviews {
	padding: 61px 0 97px;
}

.inner-section__title {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 50px;
}