.separator {
	background: #17191C url(../img/reviews.page/separator.png) right 23% bottom no-repeat;
	min-height: 363px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.separator__content {
	max-width: 35%;
}

.separator__title {
	font-size: 48px;
	font-weight: bold;
	line-height: 1.1;
}