.socials {
margin-right: 73px;
display: flex;
}

.socials__item {
	margin-right: 11px;
}

.socials__item:last-child {
	margin-right: 0;
}

.socials__link {
	display: block;
	width: 36px;
	height: 36px;
	text-decoration: none;
	background: center center no-repeat;
}

.socials__item--icon--tg .socials__link {
	background: url(../img/footer/css_sprites.png) -234px -10px;
}

.socials__item--icon--tg .socials__link:hover {
	background: url(../img/footer/css_sprites.png) -290px -10px;
}

.socials__item--icon--vk .socials__link {
	background: url(../img/footer/css_sprites.png) -346px -10px;
}

.socials__item--icon--vk .socials__link:hover {
	background: url(../img/footer/css_sprites.png) -402px -10px;
}

.socials__item--icon--fb .socials__link {
	background: url(../img/footer/css_sprites.png) -10px -10px;
}

.socials__item--icon--fb .socials__link:hover {
	background: url(../img/footer/css_sprites.png) -66px -10px;
}

.socials__item--icon--inst .socials__link {
	background: url(../img/footer/css_sprites.png) -122px -10px;
}

.socials__item--icon--inst .socials__link:hover {
	background: url(../img/footer/css_sprites.png) -178px -10px;
}