.main-page-wrapper {
	position: relative;
}

.main-page-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/background-up.png) center top no-repeat, url(../img/background-down.png) center bottom -18px no-repeat;
	filter: grayscale(1);
	z-index: -1;
}

.main-page-wrapper-reviews::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 422px;
	background: url(../img/background-up.png) center top 55% no-repeat;
	filter: grayscale(1);
	z-index: -1;
}
